server:
  port: 8081

spring:
  profiles:
    active: dev

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

  exchange:
    slave:
      datasource:
        hikari:
          jdbc-url: jdbc:mysql://localhost:14306/Exchange
          username: root
          password: 1234

  coin:
    master:
      datasource:
        hikari:
          jdbc-url: jdbc:mysql://localhost:${SHARD_MASTER_PORT}/Exchange
          username: root
          password: 1234
    slave:
      datasource:
        hikari:
          jdbc-url: jdbc:mysql://localhost:${SHARD_SLAVE_PORT}/Exchange
          username: root
          password: 1234

#  jpa:
#    properties:
#      hibernate:
#        format_sql: true
#        show_sql: true

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: coinOrderGroup
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted.packages: "*"
            type.mapping: "coinOrder:com.mjy.coin.dto.CoinOrderDTO"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer